# Root .gitignore
node_modules/
dist/
tmp_build/
*.exe
*.log
*.sql
*.db
.env
.DS_Store
.idea/
.vscode/
starry-web/node_modules/
starry-web/dist/
Go-server/tmp_build/
Go-server/main.exe
Go-server/.env
Go-server/data.db
